web/WEB-INF/wsdl/localhost_8084/SIOUI/LowonganWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="getLowonganList" type="tns:getLowonganList" />

<xs:element name="getLowonganListResponse" type="tns:getLowonganListResponse" />

<xs:complexType name="getLowonganList">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getLowonganListResponse">
<xs:sequence>
<xs:element name="return" type="tns:lowongan" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lowongan">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="judul" type="xs:string" />
<xs:element name="deskripsi" type="xs:string" />
<xs:element name="jabatan" type="xs:string" />
<xs:element name="minimumTahun" type="xs:int" />
<xs:element name="pendaftaranDimulai" type="xs:string" />
<xs:element name="pendaftaranSelesai" type="xs:string" />
<xs:element name="minimumIPK" type="xs:double" />
<xs:element name="kategori" type="xs:string" />
<xs:element name="jumlahDibutuhkan" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>