web/WEB-INF/wsdl/localhost_8084/SIOUI/LowonganWS.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="getLowonganList" type="tns:getLowonganList"></xs:element>

<xs:element name="getLowonganListResponse" type="tns:getLowonganListResponse"></xs:element>

<xs:complexType name="getLowonganList">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getLowonganListResponse">
<xs:sequence>
<xs:element name="return" type="tns:lowongan" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lowongan">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="judul" type="xs:string"></xs:element>
<xs:element name="deskripsi" type="xs:string"></xs:element>
<xs:element name="jabatan" type="xs:string"></xs:element>
<xs:element name="minimumTahun" type="xs:int"></xs:element>
<xs:element name="pendaftaranDimulai" type="xs:string"></xs:element>
<xs:element name="pendaftaranSelesai" type="xs:string"></xs:element>
<xs:element name="minimumIPK" type="xs:double"></xs:element>
<xs:element name="kategori" type="xs:string"></xs:element>
<xs:element name="jumlahDibutuhkan" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>