src/java/META-INF/SivimuWebService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="SivimuWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://sivimu.cloudapp.net:8080/SIVIMU/SivimuWebService?xsd=1" />
</xsd:schema>
</types>
<message name="getCategory">
<part name="parameters" element="tns:getCategory" />
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse" />
</message>
<message name="getAllCV">
<part name="parameters" element="tns:getAllCV" />
</message>
<message name="getAllCVResponse">
<part name="parameters" element="tns:getAllCVResponse" />
</message>
<message name="tryLogin">
<part name="parameters" element="tns:tryLogin" />
</message>
<message name="tryLoginResponse">
<part name="parameters" element="tns:tryLoginResponse" />
</message>
<portType name="SivimuWebService">
<operation name="getCategory">
<input wsam:Action="http://webservice/SivimuWebService/getCategoryRequest" message="tns:getCategory" />
<output wsam:Action="http://webservice/SivimuWebService/getCategoryResponse" message="tns:getCategoryResponse" />
</operation>
<operation name="getAllCV">
<input wsam:Action="http://webservice/SivimuWebService/getAllCVRequest" message="tns:getAllCV" />
<output wsam:Action="http://webservice/SivimuWebService/getAllCVResponse" message="tns:getAllCVResponse" />
</operation>
<operation name="tryLogin">
<input wsam:Action="http://webservice/SivimuWebService/tryLoginRequest" message="tns:tryLogin" />
<output wsam:Action="http://webservice/SivimuWebService/tryLoginResponse" message="tns:tryLoginResponse" />
</operation>
</portType>
<binding name="SivimuWebServicePortBinding" type="tns:SivimuWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCV">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="tryLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SivimuWebService">
<port name="SivimuWebServicePort" binding="tns:SivimuWebServicePortBinding">
<soap:address location="http://sivimu.cloudapp.net:8080/SIVIMU/SivimuWebService" />
</port>
</service>
</definitions>